<div class="header">
      <h1>About Tomoya</h1>
    </div>
<div class="intro column">
  <div class="intro">
  <h2>Introduction</h2>
  <p>I am a graphic designer and web developer.</p>
  </div>
</div>
<div class="skills column">
  <div class="skills">
    <h3>My Skills</h3>
    <ul id="skill_list">
      <li>Adobe Photoshop</li>
      <li>Adobe Illustrator</li>
      <li>Adobe InDesign</li>
    </ul>
  </div>
</div>
<div class="main_text">
      <h3>My Story</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas, lorem lobortis dignissim tempor, odio purus convallis enim, id feugiat ipsum nunc a enim. Nunc eget justo lectus. Etiam efficitur hendrerit neque. Donec at tempus nulla. Nulla vitae semper mauris, id viverra justo. Integer lacinia velit eget iaculis elementum. Mauris scelerisque mattis lorem eget commodo. Proin id lacus posuere leo volutpat sollicitudin. Pellentesque pretium ligula a neque placerat porttitor.</p>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac efficitur mauris. Mauris elementum ornare massa in tincidunt. Vestibulum id laoreet elit. Duis cursus at massa et blandit. In efficitur mauris sed diam bibendum ornare. Etiam feugiat purus sed mauris dictum fermentum. Praesent volutpat neque purus, id condimentum lacus hendrerit eu. Sed ullamcorper sit amet magna quis sollicitudin. In id nulla nec purus rhoncus posuere sed eget elit. Nunc lobortis ipsum et elementum vestibulum. Proin rutrum tristique bibendum. Fusce eu venenatis arcu. Nam ultricies, tortor non finibus faucibus, elit mi eleifend erat, ac efficitur lectus metus eget tortor. Sed id fermentum massa, eget commodo ex. Proin efficitur, felis vel rutrum feugiat, justo quam vehicula elit, vitae hendrerit lacus orci ac dui.</p>
      <p>Cras pellentesque, nisi vel varius sodales, tortor orci cursus nisl, tempor tincidunt elit quam sit amet leo. Pellentesque tempor purus ac efficitur eleifend. Integer eu tempus elit, vitae dictum libero. Vestibulum suscipit viverra iaculis. Integer consectetur mi et tristique lobortis. Mauris quis felis non risus faucibus ultrices. Sed dapibus ligula nibh. Etiam congue ipsum congue tincidunt volutpat. Quisque sed sapien semper, ultricies purus gravida, vehicula massa. Maecenas pharetra id turpis non gravida. Duis efficitur, mauris in dignissim mattis, nisi mi tempus leo, vel congue nulla sem ut ex. Vivamus et ex metus.</p>
      <p>Phasellus tortor nisl, aliquet non dignissim eget, hendrerit eu sapien. Etiam fermentum dignissim pharetra. Donec convallis ex sit amet enim mollis, ut feugiat ante congue. Mauris finibus lacus ultricies mi ullamcorper, id aliquet velit eleifend. Proin lacinia auctor urna, nec sagittis turpis lacinia id. Nullam commodo quam ut eros porta consectetur. Phasellus pellentesque porta lorem eget venenatis.</p>
</div>
