<div class="header">
    <h1>Contact Info</h1>
</div>
  <div class="row">
    <div class="col-xs-12 col-md-5">
      <div class="dropline">
        <h2><span class="glyphicon glyphicon-envelope"></span> Drop me a line</h2>
        <p>E-mail me at <a href="mailto:xxxxxx@gmail.com">xxxxxx@gmail.com</a>.</p>
        <ul id="droplinelist">
          <li>I respond to most inquiries within 12 business hours. If you need my immediate attention, please put the word "Urgent" in your subject line and I'll try to respond to you faster.</li>
        </ul>
      </div>
      <div class="phone">
        <h2><span class="glyphicon glyphicon-earphone"></span> Prefer a phone conversation?</h2>
        <p>You can reach me at (416)333-3333.<p>
          <ul id="phonelist">
        <li>Sometimes, I am in a creative process, and I may not be able to answer your call. Please leave your name, phone number, and a brief message on voicemail. I will respond to you within 12 business hours.</li>
        </ul>
      </div>
    </div>
    <div class="location">
            <h2><span class="glyphicon glyphicon-map-marker"></span> Office Location</h2>
            <p>My office is located at: <p/>
              <p><strong>1 Yonge Street, Unit# 302<br>
                Toronto, Ontario M5E 1W7</strong></p>
    </div>
