/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* NAVBAR
 ----------*/
.navbar-brand {
  margin-top: -6px;
}

nav .navbar-nav {
  float: right;
}
/* NAVBAR
----------END*/

 /* FOOTER
 ----------*/
 .site-footer {
   background: #222222;
   position: fixed;
   right: 0;
   bottom: 0;
   left: 0;
 }

 .site-footer p,
 .fb-like,
 .twitter {
   display: inline-block;
 }

 .twitter,
 .fb-like {
   float: right;
 }

 .site-footer p {
   color: white;
   margin: 8px 0 8px 20px;
 }

 .fb-like {
   margin: 6.5px 5px 0px 0px;
 }

 .twitter {
   margin: 8px 20px 0px 0px;
 }
 /* FOOTER
 ----------END*/

/* TYPOGRAPHY */
p, li {
  font-family: 'Ubuntu', sans-serif;
}

li a {
  font-size: 1.2em;
}
